page-login {
 
}
$colorPrimario: #0288D1;
.card_login{
    margin-top: 20%;
    border: 3px solid;
    border-radius: 25px;
    border-color:$colorPrimario;
}
.img_logo{
    text-align: center;
}
.logo_login{
    width: 100px;
    height: 100px;
}
.input_margin{
    margin-bottom: 30px;
}
.btn_login{
    border-radius: 25px;
}
.div_login{
    margin-top: 25px;
    text-align: center;
}
.link_login{
    color:$colorPrimario;
}
.icon_login{
    margin-right: 10px;
}